# Python 虛擬環境
venv/

# 系統檔
.DS_Store

# PDF 原始檔（檔案太大）
出版社/*.pdf

# 圖檔資料夾（檔案太多太大）
出版社/113_康軒六下/
出版社/114_南一六上/
出版社/114_南一六下/
出版社/114_康軒六上/
出版社/114_翰林六上/
出版社/114_翰林六下/

# Excel 檔案（暫存檔與輸出結果）
~$*.xlsx
*.xlsx
